*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html{ 
    scroll-behavior: smooth; 
} 


img{
    width: 100%;
}


h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

main{
    width: 95%;
    margin: 0 auto;
}

footer{
    background-color: #dddddd;
    padding: 30px;

}
footer p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: black;
    text-align: center;
}

.logo{
    width: 150px;
}

.flexContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mb10{
    margin-bottom: 10px;
}

.mb20{
    margin-bottom: 20px;
}

.mb50{
    margin-bottom: 50px;
}

.formulario input{
    background-color: #dddddd;
    width: 70%;
    height: 55px;
    border-radius: 10px;
    border: 1px solid #F7F7F7;
    font-family: Arial, Helvetica, sans-serif;

}

.formulario input::placeholder{
    padding-left: 15px;
    font-size: 1rem;
}

.formulario #enviarInput{
    width: 30%; 
}


.formulario #enviarInput:hover{
    background-color: rgb(135, 135, 208);
    
}

@media screen and (min-width:768px) {
    
    .flexContainer > *{
        width: calc(100% - 20px);
    }

    main{
    width: 80%;
    }

}